# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv('chipotle.tsv.txt', sep='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1

chipo.shape[0]

4622

In [87]:
# Solution 2

print(chipo['order_id'].count())

4622

### Step 6. What is the number of columns in the dataset?

In [13]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [28]:
print(' '.join(list(chipo.columns)))

order_id quantity item_name choice_description item_price

### Step 8. How is the dataset indexed?

In [70]:
chipo.index # это спросила у гпт

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [92]:
str(chipo['item_name'].value_counts().idxmax()) + ' ' + str(chipo['item_name'].value_counts().max())

'Chicken Bowl 726'

In [91]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

In [96]:
w = chipo['item_name'].value_counts()
w.head(1)

item_name
Chicken Bowl    726
Name: count, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [72]:
str(chipo['item_name'].value_counts().max())

'726'

### Step 11. What was the most ordered item in the choice_description column?

In [74]:
str(chipo['choice_description'].value_counts().idxmax())

'[Diet Coke]'

In [75]:
chipo['choice_description'].value_counts()

choice_description
[Diet Coke]                                                                                    134
[Coke]                                                                                         123
[Sprite]                                                                                        77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                          42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]               40
                                                                                              ...
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Rice, Sour Cream, Guacamole]]                  1
[Tomatillo Red Chili Salsa, [Black Beans, Cheese]]                                               1
[Fresh Tomato Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce]]                                 1
[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Black Beans, Rice, Fajita Veggies, Cheese]]      1
[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Cheese, Sour Cream]]                        1
Name: count, Length: 1043, dtype: int64

### Step 12. How many items were orderd in total?

In [97]:
chipo['item_name'].count() # вопрос неясен

np.int64(4622)

In [101]:
chipo.quantity.sum() # не поняла

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [102]:
chipo['item_price'].dtypes

dtype('O')

In [ ]:
chipo.item_price.dtype # ещё один вариант

#### Step 13.b. Create a lambda function and change the type of item price

In [104]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1])) # из ответов

#### Step 13.c. Check the item price type

In [105]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [107]:
chipo.item_price.sum() # знаю что неверно но решила протестировать

np.float64(34500.16)

In [108]:
revenue = (chipo['quantity']* chipo['item_price']).sum()
 # из ответов
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [110]:
chipo['quantity']* chipo['item_price'] # получается выходит новый столбец с перемноженными данными. понятно.

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

### Step 15. How many orders were made in the period?

In [112]:
chipo.order_id.drop_duplicates().count()

np.int64(1834)

In [114]:
chipo.order_id.value_counts().count() # другой вариант решения из ответов

np.int64(1834)

### Step 16. What is the average revenue amount per order?

In [135]:
# Solution 1
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped

,quantity,item_name,choice_description,item_price,revenue
order_id,,,,,
1,4,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,[Clementine][Apple],11.56,11.56
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
3,2,Chicken BowlSide of Chips,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",12.67,12.67
4,2,Steak BurritoSteak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",21.00,21.00
5,2,Steak BurritoChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",13.70,13.70
...,...,...,...,...,...
1830,2,Steak BurritoVeggie Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",23.00,23.00
1831,3,Carnitas BowlChipsBottled Water,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",12.90,12.90
1832,2,Chicken Soft TacosChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",13.20,13.20
1833,2,Steak BurritoSteak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",23.50,23.50
1834,3,Chicken Salad BowlChicken Salad BowlChicken Sa...,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",28.75,28.75

In [134]:
order_grouped['revenue'].mean()

np.float64(21.39423118865867)

In [137]:
# Solution 2

chipo.groupby(by=['order_id']).sum()['revenue'].mean()

np.float64(21.39423118865867)

In [140]:
chipo.groupby(by=['order_id']).sum() # почему без sum() не работает?

,quantity,item_name,choice_description,item_price,revenue
order_id,,,,,
1,4,Chips and Fresh Tomato SalsaIzzeNantucket Nect...,[Clementine][Apple],11.56,11.56
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
3,2,Chicken BowlSide of Chips,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",12.67,12.67
4,2,Steak BurritoSteak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",21.00,21.00
5,2,Steak BurritoChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",13.70,13.70
...,...,...,...,...,...
1830,2,Steak BurritoVeggie Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",23.00,23.00
1831,3,Carnitas BowlChipsBottled Water,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",12.90,12.90
1832,2,Chicken Soft TacosChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",13.20,13.20
1833,2,Steak BurritoSteak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",23.50,23.50
1834,3,Chicken Salad BowlChicken Salad BowlChicken Sa...,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",28.75,28.75

### Step 17. How many different items are sold?

In [141]:
chipo.item_name.value_counts().count()

np.int64(50)